.listItem {
  list-style-type: none;
  margin: 10px;

  max-width: 200px;
}
.imageAndRemove {
  display: flex;
  flex-direction: column;
}
.image {
  width: 200px;
  height: 200px;
}
.countryAndRemoveBtn {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
.describe {
  color: blue;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Roboto';
}
.removeBtn {
  background-color: transparent;
  color: blue;
  font-size: 20px;
  border: 1px solid #94a3b8;
  font-weight: bold;
}
